* {
    box-sizing: border-box;  /*account for any border and padding in the values 
                               I specify for an element's width & height */
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);  /* a css variable for the bg color */
}

a {
    color: unset;
    text-decoration: none;
}

.gradient_bg {
    /* ff 3.6+ */
    background:-moz-radial-gradient(circle at 6% 25%, rgba(0, 0, 0, 1) 0%, rgba(0, 203, 255, 1) 25%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 6% 25%, rgba(0, 0, 0, 1) 0%, rgba(0, 203, 255, 1) 25%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 6% 25%, rgba(0, 0, 0, 1) 0%, rgba(0, 203, 255, 1) 25%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 6% 25%, rgba(0, 0, 0, 1) 0%, rgba(0, 203, 255, 1) 25%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 6% 25%, rgba(0, 0, 0, 1) 0%, rgba(0, 203, 255, 1) 25%);
    
    margin-bottom: 144px;
  }

.gradient_text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    /* -webkit-text-fill-color: transparent; */
    color:#FFD700;
}


.section_padding {
    padding: 64px 96px;
}

.section_margin {
    margin: 64px 96px;
}


.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

 @-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }


/*
  .rotate-scale-down {
	-webkit-animation: rotate-scale-down 0.65s linear both;
	        animation: rotate-scale-down 0.65s linear both;
}

 @-webkit-keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  @keyframes rotate-scale-down {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(0.5) rotateZ(180deg);
              transform: scale(0.5) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }  
*/

  @media screen and (max-width: 700px) {
    .section__padding {
        padding: 64px;
    }
    .section__margin {
        margin: 64px;
    }
  }

  @media screen and (max-width: 550px) {
    .section__padding {
        padding: 64px 32px;
    }
    .section__margin {
        margin: 64px 32px;
    }
  }

